#map {
    min-width: 320px;
    max-width: 1800px;
    height: 850px;
}

.animated-line {
    stroke-dasharray: 5;
    stroke-dashoffset: 10;
    animation: dash 12s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }

    to {
        stroke-dashoffset: 20;
    }
}