@font-face {
  font-family: ChevinLight;
  src: url('../fonts/chevin-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/chevin-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/chevin-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/chevin-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/chevin-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: ChevinMedium;
  src: url('../fonts/chevin-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/chevin-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/chevin-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/chevin-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/chevin-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
.value {
    font-size: 30px;
     display: inline;

}
  h1 { 
  	font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }

  h1.display-4 { 
    font-family: Chevinlight, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }
  h2 { 
    font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }
 h3 { 
    font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }
 h4 { 
    font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }
 h5 { 
    font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }
 h6 { 
    font-family: ChevinMedium, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }

    .subtitle { 
    font-family: ChevinLight, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New" !important; }


/*elements*/

a.mask {
    text-decoration: none;
    color: black;
}


.highlight-light-grey {
    background: #f7f7f7;
}



/*color*/

.bg-brown-dark {
    background-color: #776e53;
}

.bg-green-light {
    background-color: #e3efdd;
}

.bg-green-medium {
    background-color: #84bf71;
}


.bg-green-medium {
    background-color: #84bf71;
}

.text-green-dark {
    color: #387d47 !important;
}

.text-green-medium {
    color: #46993b !important;
}
.text-grey-dark {
    color: #5a5a5a !important;
}

.bg-grey-medium {
    background-color: #838383;
}



.bg-blue-light {
    background-color: #eef5fc;
}


.bg-grey-light {
    background-color: #bebebe;
}



@media (max-width:768px) {
   .xscroll {
   /* background-color: lightblue;
    border: 1px solid black;*/
    width: 100%;
    overflow-x: scroll;
}
}

#heatmap {

min-width: 568px;
/*margin: 10px;*/

}

.bar {

    height: 30px;
    background: #387d47;
    display: inline-block;
    position: relative;
    animation: grow 2s 2s forwards;
    border-radius: 4px;
}

.bar span {
    position: absolute;
    right: 7px;
    top: 2px;
    color: white;

}

    .site-header{
  background: transparent;

  transition: 0.5s ease-in;
}

.site-header.scrolled {
  height: 110px;
  transition: 0.5s ease-in;
  background: white !important;
  

}

header {
  min-height: 60px;
}

.btn-group-wrap {
    text-align: center;
}

/*footer*/

.footer[role=contentinfo] {
    clear: both;
    display: block;
    margin-top: 0;
    background: #2c2c2c;
    color: #bcbbbb;
}

.footer[role=contentinfo] nav.social {
    position: absolute;
    top: 0;
    right: 0;
}




.footer[role=contentinfo] a.esrc {
    float: left;
    display: block;
    width: 304px;
    height: 81px;
    overflow: hidden;
    text-indent: -3000em;
    margin-right: 40px;
    margin-right: 2.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    background: url(../images/esrc-logo.svg) no-repeat 50% 50%;
}


.footer[role=contentinfo] a.iser {
    float: left;
    display: block;
    width: 93px;
    height: 81px;
    overflow: hidden;
    text-indent: -3000em;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    background: url(../images/iser-logo.svg) no-repeat 50% 50%;
}




.footer[role=contentinfo] a.uoe {
    float: left;
    display: block;
    width: 222px;
    height: 81px;
    overflow: hidden;
    text-indent: -3000em;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    background: url(../images/university-essex-logo.svg) no-repeat 50% 50%;
}



.footer[role=contentinfo] a:link, 
.footer[role=contentinfo] a:visited {
    color: #bcbbbb;
    text-decoration: none;
}

.footer[role=contentinfo] a:hover {
    text-decoration: underline;
}











/*header*/

.site-header .logo {
    height: 150px;
    width: 300px;
    padding: 16px;
    padding: 1rem;
    text-indent: -3000em;
    overflow: hidden;
    display: block;
    background: url(../images/ukhls-logo.svg) no-repeat 50% 50%;
    transition: 0.5s ease-in;
}


@media (max-width:767px) {
   .site-header .logo {
        height: 92px;
        width: 220px;
    }
}

.site-header.scrolled .logo{
    height: 90px;
    transition: 0.5s ease-in;
}


.navbar-nav>.nav-item:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar-nav>.nav-item:not(:first-child) {
    margin-left: -1px;
}

.navbar-nav>.nav-item:nth-child(n+3), .navbar-nav>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


@media (max-width:1199px) {
    .navbar-nav>.nav-item:not(:last-child):not(.dropdown-toggle) {
        border-bottom: 0;
    }
    .navbar-nav>.nav-item:nth-child(n+3), .navbar-nav>:not(.btn-check)+.btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .navbar-nav>.nav-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .navbar-nav>.nav-item:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
    }
    .navbar-nav>.nav-item:not(:first-child) {
        margin-left: 0;
    }

   
}

.navbar-toggler:focus {
    box-shadow: initial;
    border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        background-color: #f4c54c47;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #2d2828;
    background-color: #ffffff;
}

.card {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}


.card.border-left {
    border-left: 2px solid #72c267;
}





.card.border-right {
    border-right: 2px solid #72c267;
}

@media (max-width:767px) {
   .card.border-right {
        border-right: 0;
    }
}

.employment-sector {
        background-color: #fcf1d6;

}


.employment-sector .card-header {
        background-color: #fcf1d6;
    color: #776e53;
    
    border-bottom: 1px solid #f7d173;

}



section.continent .nav-link {
    color: #387d47;
}


section.employment .btn-outline-primary {
    color: #4c4c4c;
    border-color: #f5c54c;
}


section.employment .btn-outline-primary.active, 
section.employment .btn-outline-primary:hover {
    color: #4c4c4c;
    background-color: #f5c54c;
    border-color: #f5c54c;
}




    section.employment .btn-check:focus+.btn-outline-primary, 
    section.employment .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(244 197 76 / 28%);

}


  .bg-education {
    background: url(../images/bg-employment-education.jpg) no-repeat 50% 50%;
    background-size: contain;
    max-width: 350px;
}

.person-icon {
    background: url(../images/person-icon.png) no-repeat ;
    width: 14px;
    height: 40px;
    display: inline-block;
    
}


/*nav for pie chart*/
.navbar-light .navbar-toggler {
    width:100%;
        color: rgb(76 76 76);
    border-color: rgb(244 197 76);
}



.animateUp, .animateRight {
    opacity: 0;
    visibility: hidden; 
}


.probootstrap-animate {
    opacity: 0;
    visibility: hidden; 
}

.probootstrap-animate-fadeup {
    opacity: 0;
    visibility: hidden; 
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.probootstrap-animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    visibility: visible;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    visibility: visible;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.crowd {
    background-image: url("../images/crowd.jpeg");
    background-size: cover;
 background-color: #cccccc;
 min-height: 500px;
}

.trans-white {
  background: #ffffffd4;
}

/*.intro-text {
    margin-top: 140px;
}*/